ul{
    padding: 0px;
}
.item{
    padding: 10px;
    margin-bottom: 15px;
    list-style: none;
    cursor: pointer;
    transition: .1s;
    border-radius: 50px;
}
.active{
    color: rgb(63, 245, 245);
	background-color: rgb(47, 55, 66);
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}
.inactive{
    color: rgb(145, 245, 245);
    /* color: white; */
}